@page
@model SparkAuto.Areas.Identity.Pages.Account.VerifyEmailModel


<h1>

    Confirmed Email Address
</h1>

<div>
    <p> Email not yet confirmed. Verify email before proceeding</p>
    <br>
    If you have not receive your email confirmation, check your spam folder.


</div>




